@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The CLient Ip Address is : @ViewBag.IpAddress</p>
    <p>The Remote Client Ip Address is : @ViewBag.ClientRemoteIpAddress</p>
    <p>The Host Ip Address : @ViewBag.HostIpAddress </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
